# Entornos virtuales
.venv/
env/
venv/

# Archivos temporales
*.pyc
__pycache__/
*.log

# Configuración local de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Ignorar todo lo de data
data/*

# Excepto los .gitkeep (para mantener la estructura de carpetas)
!data/**/.gitkeep