# Entornos virtuales
.venv/
env/
venv/

# Archivos temporales
*.pyc
__pycache__/
*.log

# Configuración local de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Ignorar todo dentro de data
data/*

# Permitir estos archivos/carpetas importantes
!data/formato/
!data/formato/BE FORMATO.xlsx

!data/gui/
!data/gui/logo.png
!data/gui/icono.ico

# Permitir toda la carpeta output
!data/output/**

# Mantener estructura con .gitkeep
!data/**/.gitkeep
